body {
	font-family:arial;	
	color: white;
	background-color: #60656d;
}

.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}

.hide-bullets img:hover{
	opacity:0.8;
}
.buyFrom{
	margin-top: 50px;
}

h1{
	font-family: Lato;
}
