body {
	font-family:arial;	
	color: white;
	background-color: #60656d;
}

.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}

.hide-bullets img:hover{
	opacity:0.8;
}
.buyFrom{
	margin-top: 50px;
}

h1{
	font-family: Lato;
}


.contactUsFaq{
	font-family: Merriweather;
    border: 1px black solid;
    background-color: white;
	padding-right: 10px;
	padding-left: 10px;
    border-radius: 2px;
    color: black;
}