#home{
	background-color: #232323;
	height: 100vh;
}

#logo{
	margin-top: 150px;
}


#mainHeading{
	color: white;
	font-family: Song Myung;
	font-size: 60px;
 }

 #tagLine{
 	color: white;
 	font-family: Song Myung;

 }



#line{
	color:white;
}

#toTop{
	position: fixed;
	bottom: 10px;
	right: 10px;
	border-radius: 50%;
	cursor: pointer;
	display: none;
}

#toRight{
	margin-top: 60px;
  display: block;
}

#toRight a{
	color: white;
	font-size: 18px;
}


.glyphicon:hover,.glyphicon:checked{
	color:#ff9900;
}

.section{
	height: 100vh;
	background-color: black;
	color: white;
	border-top: 2px solid white;
	padding-top: 40px;
}

.sectionDownload{
	height: 50vh;
	padding-top: 40px;
	/*background-color: #ff9000*/

}

.sectionFAQ{
	height: 50vh;
	background-color: red;
	padding-top: 40px;
}

.sectionFooter{
	height: 600px;
	background-color: orange;
}

.fdback{
	top: 550px;
	background-color:white;
	color: white;
	width:40;
	height:60;
	padding:10px;
	position: fixed;
	border-radius:2px;
}
.fdback {
	color:orange;
}

#image:hover{
	content: url("warmwhite2.jpg");
}

#image1:hover{
	content:url("coolwhite1.jpg");
}

#product{
	background-color: black;
	color:white;
	font-size: 18px;
}

#product:hover{
	background-color: black;
	color:white;
}
.effect-btn .btn1:hover{
	-webkit-transition: all 0.5 ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.effect-btn .btn1{
	background-color: #ff9900;
	  -webkit-border-radius: 10px;
	  border-radius: 4px;
	  border: none;
	  color: #FFFFFF;
	  cursor: pointer;
	  display: inline-block;
	  font-family: Arial;
	  font-size: 20px;
	  padding: 10px 20px;
	  text-align: center;
		margin-right: 600px;
	  text-decoration: none;
	-webkit-animation: glowing 1500ms infinite;
		  -moz-animation: glowing 1500ms infinite;
		  -o-animation: glowing 1500ms infinite;
		  animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
  0% { background-color: #ffcc80; -webkit-box-shadow: 0 0 3px #ffcc80; }
  50% { background-color: #ff9900; -webkit-box-shadow: 0 0 40px #ff9900; }
  100% { background-color: #ffcc80; -webkit-box-shadow: 0 0 3px #ffcc80; }
}

@-moz-keyframes glowing {
  0% { background-color: #ffcc80; -moz-box-shadow: 0 0 3px #ffcc80; }
  50% { background-color: #ff9900; -moz-box-shadow: 0 0 40px #ff9900; }
  100% { background-color: #ffcc80; -moz-box-shadow: 0 0 3px #ffcc80; }
}

@-o-keyframes glowing {
  0% { background-color: #ffcc80; box-shadow: 0 0 3px #ffcc80; }
  50% { background-color: #ff9900; box-shadow: 0 0 40px #ff9900; }
  100% { background-color: #ffcc80; box-shadow: 0 0 3px #ffcc80; }
}

@keyframes glowing {
  0% { background-color: #ffcc80; box-shadow: 0 0 3px #ffcc80; }
  50% { background-color: #ff9900; box-shadow: 0 0 40px #ff9900; }
  100% { background-color: #ffcc80; box-shadow: 0 0 3px #ffcc80; }
}

#downloadLogoGoogle{
	margin-top: 50px;
}

#downloadLogoApple{
	margin-top: 50px;
}

.logoDownload{
	margin-top: 100px;
}


body{
	max-width: 100%;
    overflow-x: hidden;
}

.brightness {
    background-color: white;
    display: inline-block;


}
.brightness img:hover {
    opacity: .7;
}

img{
	max-width: 100%;
    height: auto;

}

.brightness img{
	max-width: 100%;
	height: auto;	
	background-size: contain;
	    background-repeat: no-repeat;

}

footer{
	margin-top: 100px;
	height:40px;
	font-size: 20px;
	background-color: #f4a142;
