#home{
	background-color: #232323;
	height: 100vh;
}

#logo{
	margin-top: 150px;
}


#mainHeading{
	color: white;
	font-family: Song Myung;
	font-size: 60px;
 }

 #tagLine{
 	color: white;
 	font-family: Song Myung;

 }



#line{
	color:white;
}

.section{
	height: 100vh;
	background-color: black;
	color: white;
	border-top: 2px solid white;
	padding-top: 40px;
}

.sectionDownload{
	height: 50vh;
	padding-top: 40px;
	/*background-color: #ff9000*/

}

.sectionFAQ{
	height: 50vh;
	background-color: red;
	padding-top: 40px;
}

.sectionFooter{
	height: 600px;
	background-color: orange;
}

.fdback{
	top: 550px;
	background-color:white;
	color: white;
	width:40;
	height:60;
	padding:10px;
	position: fixed;
	border-radius:2px;
}
.fdback {
	color:orange;
}

#image:hover{
	content: url("warmwhite2.jpg");
}

#image1:hover{
	content:url("coolwhite1.jpg");
}

#product{
	background-color: black;
	color:white;
	font-size: 18px;
}

#product:hover{
	background-color: black;
	color:white;
}

#downloadLogoGoogle{
	margin-top: 50px;
}

#downloadLogoApple{
	margin-top: 50px;
}

.logoDownload{
	margin-top: 100px;
}


body{
	max-width: 100%;
    overflow-x: hidden;
}

.brightness {
    background-color: white;
    display: inline-block;


}
.brightness img:hover {
    opacity: .7;
}

img{
	max-width: 100%;
    height: auto;

}

.brightness img{
	max-width: 100%;
	height: auto;	
	background-size: contain;
	    background-repeat: no-repeat;

}

footer{
	margin-top: 100px;
	height:40px;
	font-size: 20px;
	background-color: #f4a142;
