body {
	font-family:arial;	
	color: white;
	background-color: #60656d;
}

.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}

.hide-bullets img:hover{
	opacity:0.8;
}
.buyFrom{
	margin-top: 50px;
}

h1{
	font-family: Lato;
}


.contactUsFaq{
	font-family: Merriweather;
    border: 1px black solid;
    background-color: white;
	padding-right: 10px;
	padding-left: 10px;
    border-radius: 2px;
    color: black;
}

#downloadLogoGoogle{
	margin-top: 50px;
}

#downloadLogoApple{
	margin-top: 50px;
	margin-bottom: 20px;
}
.brightness {
    background-color: black;

}
.brightness img:hover {
    opacity: .7;
}
.brightness img{
	max-width: 100%;
	height: auto;	
	background-size: contain;
	background-repeat: no-repeat;

}

#footer{
	
	height:30px;
	font-size: 20px;
	background-color: #f4a142;
	font-family: times new roman;
}

#copyright{
	text-align: right;
}
