#home{
	background-color: black;
	height: 100vh;
	max-width: 100%;
	height: auto;
}

body{
	background-color: black;
	font-family:PT Sans Narrow;
	overflow-x: hidden;
}

#logo{
	margin-top: 150px;
}

#panel, #flip {

    text-align: center;
}

#flip{
	margin-top: 80px;
}

#panel {
	height:100px;
        padding: 10px;
        display: none;
        background-color: black;
        color:white;
}

#myCarousel{
	margin-top: 50px;
	max-width: 100%;
	height: auto;
}

.navbar{
	min-height: 80px;
	
}

.navbar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.navbar-brand {
	font-size: 30px !important;
	color: black;
	font-family: PT sans Narrow;
}


#mainHeading{
	color: white;
	font-size: 60px;
 }

 #tagLine{
 	color: white;


 }



#line{
	color:white;
}

#toTop{
	position: fixed;
	bottom: 10px;
	left: 10px;
	border-radius: 50%;
	cursor: pointer;
	display: none;
}

#toRight{
	margin-top: 60px;
  display: block;
}

#toRight a{
	color: white;
	font-size: 18px;
}


.glyphicon:hover,.glyphicon:checked{
	color:#ff9900;
}

.section{
	height: 100vh;
	background-color: black;
	color: white;
	padding-top: 40px;
	font-family: PT sans Narrow;
}

.sectionHome{
	/*height: 100vh;*/
	background-color: black;
	color: white;


}

.sectionFeatures{
	height: 100vh;
	background-color: black;
	color: white;
/*	padding-top: 20px;
*/	/*padding-left:75px;*/

}


.sectionDownload{
	height: 25vh;
}

.sectionFAQ{
	height: 50vh;
	background-color: red;
	padding-top: 40px;
}

.sectionFooter{
	height: 600px;
	background-color: orange;
}

.fdback{
	top: 550px;
	background-color:white;
	color: white;
	width:40;
	height:60;
	padding:10px;
	position: fixed;
	border-radius:2px;
	position: fixed;
}
.fdback {
	color:orange;
}

#image:hover{
	content: url("images/leftback.png");
	
	width: 400px;
}

#image{
	max-width: 100%;
	height: auto;
}

#image1{
	max-width: 100%;
	height: auto;
}

#image1:hover{
	content:url("images/rightback.png");
}

#product{
	background-color: black;
	color:white;
	font-size: 18px;
	padding-top: 60px;
	max-width: 100%;
	height: auto;
}

#product:hover{
	background-color: black;
	color:white;
}
.effect-btn .btn1:hover{
	-webkit-transition: all 0.5 ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.effect-btn .btn1{
	background-color: #ff9900;
	  -webkit-border-radius: 10px;
	  border-radius: 4px;
	  border: none;
	  color: #FFFFFF;
	  cursor: pointer;
	 display: inline-block;
	  font-size: 20px;
	  padding: 10px 20px;
	  text-align: center;
		margin-right: 600px;

	  text-decoration: none;

	-webkit-animation: glowing 1500ms infinite;
		  -moz-animation: glowing 1500ms infinite;
		  -o-animation: glowing 1500ms infinite;
		  animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
  0% { background-color: #ffcc80; -webkit-box-shadow: 0 0 3px #ffcc80; }
  50% { background-color: #ff9900; -webkit-box-shadow: 0 0 40px #ff9900; }
  100% { background-color: #ffcc80; -webkit-box-shadow: 0 0 3px #ffcc80; }
}

@-moz-keyframes glowing {
  0% { background-color: #ffcc80; -moz-box-shadow: 0 0 3px #ffcc80; }
  50% { background-color: #ff9900; -moz-box-shadow: 0 0 40px #ff9900; }
  100% { background-color: #ffcc80; -moz-box-shadow: 0 0 3px #ffcc80; }
}

@-o-keyframes glowing {
  0% { background-color: #ffcc80; box-shadow: 0 0 3px #ffcc80; }
  50% { background-color: #ff9900; box-shadow: 0 0 40px #ff9900; }
  100% { background-color: #ffcc80; box-shadow: 0 0 3px #ffcc80; }
}

@keyframes glowing {
  0% { background-color: #ffcc80; box-shadow: 0 0 3px #ffcc80; }
  50% { background-color: #ff9900; box-shadow: 0 0 40px #ff9900; }
  100% { background-color: #ffcc80; box-shadow: 0 0 3px #ffcc80; }
}

#downloadLogoGoogle{
	width: 200px;
}

#downloadLogoApple{
	width: 150px;
	
}

#downloadButtonSection{
	height: auto;
	max-width: 100%;
	background-color: black;
/*	margin-top: 40px;*/
}


.brightness {
    background-color: black;

}
.brightness img:hover {
    opacity: .7;
}

img{
	max-width: 100%;
    height: auto;
}

.brightness img{
	max-width: 100%;
	height: auto;
	background-size: contain;
	background-repeat: no-repeat;

}

@media (max-width:600px){
	#steps .container .row .col-sm-6 img{
		display: none;
	}
}

@media (max-width:900px){
	#steps .container .row .col-sm-6 img{
		display: none;
	}
}


@media (max-width: 786px) {
	#home{
		padding-top: 200px;
		padding-bottom: 150px;

	}
}

@media (max-width:600px){
	#steps .container .row .w-100 .buy{
		margin-top:250px;
		margin-left:325px;
	}
}

#footer{

	height:30px;
	font-size: 20px;
	background-color: #f4a142;

}

#copyright{
	text-align: right;
}

#photoSection{
	margin-left: 40px;
	margin-right: 40px;
	max-height: 100%;
	max-width: 100%;
	height: auto;

}



.intro{
	color: white;
	margin-top: 150px;
	font-size: 20px;
	border:2px solid white;
	margin-right: 0px;
	padding: 20px;
	text-align: justify;
	resize: both;
	overflow: auto;
}




#features{
	padding-top: 25px;
	max-width: 100%;
	height: auto;
	padding-bottom: 30px;
	margin: auto;

}

#photos{
	max-width: 100%;
	height: auto;
	padding-top: 100px;
	margin:auto;

}

.flip {
  -webkit-perspective: 800;
          perspective: 800;
        position: relative;
        text-align: center;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
}
.flip .card {
    width: auto;
    height: 300px;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
    background-color: #000;


}
.flip .card .face {
  -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
   z-index: 2;
}
.flip .card .front {
   position: absolute;
   width: auto;
   z-index: 1;
}
.flip .card .front img{
  width: auto;
  height: 100%;
  margin-left: 50px;

}
.flip .card .img {
   position: relative;
   width: auto;
   height: 178px;
   z-index: 1;
   border: 2px solid #000;
}
.flip .card .back {
  padding-top: 10%;
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
  position: absolute;
}
.inner{
  margin:0px;
  width: auto;
}


.cardFeatures{
	text-align: center;
}

.flip .card h3{
	margin-left: 50px;
}

.buyNowButton{
	margin-top: 20px;
	width: 100px;
}

.faqButton {
  background-color : #31B0D5;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
}

#faqButton {
  position: fixed;
  bottom: -4px;
  right: 5px;
}

#app{
	max-width: 100%;
	height: auto;
}

#app a{
	text-decoration: none;
	color:white;
	font-size: 18px;
	text-align: center;
}

#app a:hover{
	color:#ff9900;
}

.app1{
	padding-top: 40px;
}

@media (max-width: 600px) {
    #paint {
      margin-top: 40px;

}

@media (max-width: 600px) {

      margin-top: 40px;

}

.card-title{
	font-family: PT sans Narrow;
	font-size: 20px;
	text-align: center;
}

/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
 /*   border-left: none; */
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 0px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

@media (max-width:600px){
	#steps .container .row{
		margin-right:100px;
	}
}

@media (max-width:600px){
	#steps .container .row .w-100{
		margin-right:-35px;
	}
}
