body{
	background-color: black;
	font-family:PT Sans Narrow;
	overflow-x: hidden;
	scroll-behavior: smooth;
	overflow-y: scroll;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
#home{
	background-color: black;
	height: 100vh;
	max-width: 100%;
	height: auto;
	padding-top: 0px;
}

#logo{
	margin-top: 150px;
}

#myCarousel{
	margin-top: 55px;
	max-width: 100%;
	height: auto;
}

.navbar{
	min-height: 80px;

}

.navbar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.navbar-brand {
	font-size: 30px !important;
	color: black;
	font-family: PT sans Narrow;
}


#mainHeading{
	color: white;
	font-size: 60px;
 }

 #tagLine{
 	color: white;


 }

#line{
	color:white;
}

#toTop{
	position: fixed;
	bottom: 10px;
	left: 10px;
	border-radius: 50%;
	cursor: pointer;
}



.glyphicon:hover,.glyphicon:checked{
	color:#ff9900;
}

.section{
	height: 100vh;
	background-color: black;
	color: white;
	padding-top: 50px;
	font-family: PT sans Narrow;
}

.sectionHome{
	background-color: black;
	color: white;
}

.sectionFeatures{
	height: 100vh;
	background-color: #5D5C61;
	color: white;
}

.sectionFooter{
	height: 600px;
	background-color: orange;
}


#productLeft{
	max-width: 100%;
	height: auto;
}

#productLeft:hover{
	content: url("images/leftback.png");
	width: 400px;
}

#productRight{
	max-width: 100%;
	height: auto;
}

#productRight:hover{
	content:url("images/rightback.png");
}

#product{
	background-color: #4b6360;
	color:white;
	font-size: 18px;
	padding-top: 60px;
	max-width: 100%;
	height: auto;
}

#downloadLogoGoogle{
	width: 200px;
	margin-top: 10px;
}

#downloadLogoApple{
	width: 170px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#downloadButtonSection{
	height: auto;
	max-width: 100%;
	background-color: #abb6c9;
	color: black;
	margin-top: 40px;
}

.brightness {
    background-color: #abb6c9;

}

.brightness img:hover {
    opacity: .7;
}

img{
	max-width: 100%;
    height: auto;
}

.brightness img{
	max-width: 100%;
	height: auto;
	background-size: contain;
	background-repeat: no-repeat;
}

#footer{

	height:30px;
	font-size: 20px;
	background-color: #f4a142;
}

#copyright{
	text-align: right;
}

#features{
	padding-top: 25px;
	max-width: 100%;
	height: auto;
	padding-bottom: 30px;
	margin: auto;
}

.buyNowButton{
	margin-top: 20px;
	width: 100px;
}

.faqButton {
  background-color : #31B0D5;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
  margin-right: 20px;
}

#faqButton {
  position: fixed;
  bottom: -4px;
  right: 5px;
}

#app{
	max-width: 100%;
	height: auto;
}

#app a{
	text-decoration: none;
	color:white;
	font-size: 18px;
	text-align: center;
}

#app a:hover{
	color:#ff9900;
}



.card-title{
	font-family: PT sans Narrow;
	font-size: 20px;
	text-align: center;
}


@media (max-width:765px){
	#steps .container-fluid .row .col-sm-6 img{
		display: none;
	}
}

@media (max-width:765px){
	#steps .container-fluid .row .col-sm-6 img{
		display: none;
	}
	#steps .container .row {

		padding-bottom: 50px;
	}
}


@media (max-width: 765px) {
	#home{
		padding-top: 200px;
		padding-bottom: 250px;

	}
}

@media (max-width:765px){
	#steps .container .row .w-100 .buy{
		margin-top:250px;
		margin-left:325px;
	}
}



@media (max-width:768px){
	#steps .container-fluid .row{
		margin-right:100px;
	}
}


